destroy table inet kiln_router

table inet kiln_router {
  set public_dns {
    type ipv4_addr
    elements = { $UPSTREAM_DNS }
  }

  set protected_ipv4 {
    type ipv4_addr
    flags interval
    elements = { $PROTECTED_IPV4 }
  }

  chain input {
    type filter hook input priority filter; policy drop;
    ct state established,related accept
    iifname "lo" accept
    iifname "wan0" udp sport 67 udp dport 68 accept
    iifname "wan0" ip saddr $ORCHESTRATOR_IP tcp dport 22 accept
    iifname "lan0" udp dport { 53, 67 } accept
    iifname "lan0" tcp dport 53 accept
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
    ct state established,related accept
    ip daddr @protected_ipv4 drop
    iifname "lan0" oifname "wan0" ip saddr $LAN_CIDR ip daddr @public_dns udp dport 53 accept
    iifname "lan0" oifname "wan0" ip saddr $LAN_CIDR ip daddr @public_dns tcp dport 53 accept
    iifname "lan0" oifname "wan0" ip saddr $LAN_CIDR tcp dport { 80, 443 } accept
  }

  chain output {
    type filter hook output priority filter; policy drop;
    ct state established,related accept
    oifname "lo" accept
    oifname "wan0" udp sport 68 udp dport 67 accept
    oifname "lan0" udp sport 53 accept
    oifname "lan0" udp sport 67 udp dport 68 accept
    oifname "lan0" tcp sport 53 accept
    ip daddr $PVE_IP tcp dport { $PERMIT_PORTS } accept
    ip daddr @protected_ipv4 drop
    oifname "wan0" ip daddr @public_dns udp dport 53 accept
    oifname "wan0" ip daddr @public_dns tcp dport 53 accept
    oifname "wan0" tcp dport { 80, 443 } accept
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
    oifname "wan0" ip saddr $LAN_CIDR masquerade
  }
}
